.PERFORMAI {
  width: 540.2px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.PERFORMAI .text-style-1 {
  font-weight: normal;
  letter-spacing: 1.9px;
}
 
.Bitmap {
  width: 1024px;
  height: 605px;
  opacity: 0.15;
  mix-blend-mode: multiply;
}
 
.Great-Athletes-Aren {
  width: 702px;
  height: 102px;
  font-family: MarkPro;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 2.3px;
  text-align: center;
  color: #ffffff;
}
 
.Perform-is-your-AI-p {
  width: 662.8px;
  height: 75px;
  font-family: MarkPro;
  font-size: 20px;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
}
 
.Get-Early-Access {
  width: 540.2px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
 
 
.Rectangle-2 {
  width: 402px;
  height: 50px;
  background-color: rgba(201, 201, 201, 0.5);
}
 
 
.your_emailhostcom {
  width: 258.2px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  letter-spacing: 1.1px;
  color: #ffffff;
}
 
.Rectangle {
  width: 244px;
  height: 50px;
  border-radius: 51px;
  background-color: #62d24b;
}
 
 
.o-Training-Approa {
  width: 300px;
  height: 144px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.o-Training-Approa .text-style-1 {
  font-weight: bold;
}
 
.Backed-By-Science-Pe {
  width: 300px;
  height: 120px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Backed-By-Science-Pe .text-style-1 {
  font-weight: bold;
}
 
.Powered-By-Machine-L {
  width: 300px;
  height: 144px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Powered-By-Machine-L .text-style-1 {
  font-weight: bold;
}
 
.Prevents-Injury-Your {
  width: 300px;
  height: 120px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Prevents-Injury-Your .text-style-1 {
  font-weight: bold;
}
 
.Predicts-Progress-Wa {
  width: 300px;
  height: 144px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Predicts-Progress-Wa .text-style-1 {
  font-weight: bold;
}
 
.Simple-Performance-T {
  width: 300px;
  height: 120px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Simple-Performance-T .text-style-1 {
  font-weight: bold;
}
 
.Flexible-Ideal-Arche {
  width: 300px;
  height: 192px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Flexible-Ideal-Arche .text-style-1 {
  font-weight: bold;
}
 
.Wearable-Integration {
  width: 300px;
  height: 120px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Wearable-Integration .text-style-1 {
  font-weight: bold;
}
 
.Adapts-To-Your-Equip {
  width: 300px;
  height: 144px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Adapts-To-Your-Equip .text-style-1 {
  font-weight: bold;
}
 
.Coach-Dashboard-Trai {
  width: 300px;
  height: 120px;
  font-family: MarkPro;
  font-size: 16px;
  line-height: 1.5;
  color: #262626;
}

.Coach-Dashboard-Trai .text-style-1 {
  font-weight: bold;
}
 
.How-it-works {
  width: 607.3px;
  height: 38px;
  font-family: MarkPro;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.7px;
  text-align: center;
  color: #ffffff;
}
 
.Perform-makes-it-eas {
  width: 483px;
  height: 46px;
  font-family: MarkPro;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}
 
.Rectangle-7 {
  width: 1024px;
  height: 605px;
  background-image: linear-gradient(190deg, #596461, #262940);
}
 
.STEP-1-Choose-your-s {
  width: 640px;
  height: 340px;
  font-family: MarkPro;
  font-size: 16px;
  letter-spacing: 1.1px;
  color: #ffffff;
}

.STEP-1-Choose-your-s .text-style-1 {
  font-weight: bold;
}
 
.Take-the-first-step {
  width: 662.8px;
  height: 76px;
  font-family: MarkPro;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.7px;
  color: #262626;
}
 
.Get-Early-Access {
  width: 540.2px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #262626;
}
 
.your_emailhostcom {
  width: 258.2px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  color: #ffffff;
}
 
.Rectangle-2 {
  width: 402px;
  height: 50px;
  background-color: #e4e9ec;
}
 
.Desktop-Copy-3 {
  width: 1024px;
  height: 3115px;
  background-color: #ffffff;
}
 
.Join-the-Waitlist {
  width: 214px;
  height: 25px;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
}
 
.Rectangle {
  width: 258.2px;
  height: 50px;
  border-radius: 51px;
  background-color: #90ea53;
}
 
 
